---
import Title from '../components/Title.astro';
import Selectors from '../components/Selectors.astro';
import Description from '../components/Description.astro';
import { Image } from 'astro:assets';

import routemapBackgroundImage from '../images/routemap-background.jpg';
import routemapImage from '../images/routemap.png';
import tuzbairImage from '../images/tuzbair-image.jpg';
import { routemapSelectors } from '../shared/constants';
---

<section class="relative w-full h-full max-h-[1080px] overflow-hidden py-10">
  <div class="absolute inset-0 scale-[1.20]">
    <Image
      src={routemapBackgroundImage}
      alt="Mangistau landscape"
      class="w-full h-full max-h-[1080px] object-cover object-[70%_30%] filter blur-lg"
      quality={100}
    />
  </div>

  <Image
    src={routemapImage}
    alt="Mangistau route map"
    class="hidden lg:block absolute top-0 bottom-0 -right-20 xl:right-0 z-20 h-full object-contain object-top-right"
  />

  <div class="h-full relative flex flex-col justify-between z-30 gap-20 px-10 py-6">
    <div class="flex flex-col gap-6">
      <div class="max-w-md lg:max-w-xl xl:max-w-2xl">
        <Title text={'Путеводитель по лучшим локациям'} type="default" />
      </div>
      <div class="max-w-lg">
        <Selectors selectors={routemapSelectors} />
      </div>
      <div class="max-w-xl">
        <Description
          text={'Исследуйте достопримечательности, маршруты и природные чудеса региона на интерактивной карте — планируйте своё путешествие по Мангистау с лёгкостью и вдохновением'}
        />
      </div>
    </div>

    <div class="flex flex-row items-center gap-3">
      <Image
        src={tuzbairImage}
        alt="Mangistau landscape"
        class="size-full lg:max-w-[180px] xl:max-w-[210px] 2xl:max-w-[240px] aspect-square rounded-[20px]"
      />
      <Image
        src={tuzbairImage}
        alt="Mangistau landscape"
        class="size-full lg:max-w-[180px] xl:max-w-[210px] 2xl:max-w-[240px] aspect-square rounded-[20px]"
      />
      <Image
        src={tuzbairImage}
        alt="Mangistau landscape"
        class="size-full lg:max-w-[180px] xl:max-w-[210px] 2xl:max-w-[240px] aspect-square rounded-[20px]"
      />
    </div>
  </div>
</section>
